# Go
/.gopath/
/local-gallery

# IDE
/.idea
.vscode
node_modules/
/frontend/node_modules/
/frontend/dist/
/frontend/bun.lock
/dist/
*.DS_Store
*.exe
*.dll
*.so
.env
/.env.local
/local-gallery
/.cache
thumbs/
*.log
coverage.out
/*.log
/.DS_Store
